$profile-button: 42px;

.keper-header {
  display: grid;
  grid-template-columns: calc(100% - #{$profile-button} - var(--keper-padding-small)) $profile-button;
  gap: var(--keper-padding-small);
  padding: var(--keper-padding-large) var(--keper-padding-body) var(--keper-padding-body);
  width: 100vw;

  .keper-header-title {
    align-self: center;
    line-height: 1;
    color: var(--keper-color-white);
    font-size: var(--keper-font-large);
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .keper-header-profile-button {
    display: grid;

    align-self: center;
    border-radius: 50%;
    width: $profile-button;
    height: $profile-button;
    background-color: var(--keper-color-dark-gray);
    cursor: pointer;

    div {
      text-align: center;
      align-self: center;
      font-size: var(--keper-font-medium);
      text-transform: uppercase;
      color: var(--keper-color-white);
      font-weight: bold;
      line-height: 1;
    }
  }

  .keper-header-description {
    grid-column: 1 / 3;
    color: var(--keper-color-white);
  }
}
