<div class="keper-header">
  <div *ngIf="group" class="keper-header-group" (click)="toggleGroupSelector()">
    <span>{{ group.name }}</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
  </div>

  <div class="keper-header-title">
    {{ title | translate }}
  </div>

  <div class="keper-header-profile-button" *ngIf="showProfileBtn && user" (click)="toggleProfile()">
    <div>{{ user.nameFirstLetter }}</div>
  </div>

  <div class="keper-header-description" *ngIf="description">
    {{ description | translate }}
  </div>
</div>

<!-- Modals -->
<app-profile></app-profile>
<app-change-password></app-change-password>
<app-group-selector></app-group-selector>
