<app-modal
  [smallModal]="false"
  [openModal]="show"
  [disabledConfirm]="noEdited"
  (modalClose)="onModalClose()"
  (modalConfirm)="onSubmitForm()"
  [title]="'USERS.NEW'"
  [subtitle]="'USERS.SUBTITLE'">

  <form class="keper-form keper-no-padding" [formGroup]="form" (ngSubmit)="onSubmitForm()" (change)="formChange()" *ngIf="form">
    <!-- email field -->
    <div class="keper-field" [class.keper-field-invalid]="submitted && f.email.errors">
      <label for="email">{{ 'FORM.EMAIL' | translate }}</label>
      <input
        type="text"
        id="email"
        [placeholder]="'FORM.EMAIL_P_ALT' | translate"
        formControlName="email"/>
      <div *ngIf="submitted && f.email.errors" class="keper-field-errors">
        <div *ngIf="f.email.errors.required">
          {{ 'FORM.EMAIL_R' | translate }}
        </div>
        <div *ngIf="f.email.errors.email">
          {{ 'FORM.EMAIL_E' | translate }}
        </div>
      </div>
    </div>

    <!-- name field -->
    <div class="keper-field" [class.keper-field-invalid]="submitted && f.name.errors" *ngIf="f.name">
      <label for="name">{{ 'FORM.NAME' | translate }}</label>
      <input
        type="text"
        id="name"
        [placeholder]="'FORM.NAME_P_ALT' | translate"
        formControlName="name"/>
      <div *ngIf="submitted && f.name.errors" class="keper-field-errors">
        <div *ngIf="f.name.errors.required">
          {{ 'FORM.NAME_R' | translate }}
        </div>
      </div>
    </div>
  </form>
</app-modal>
