/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/variables.scss";

body {
  font-size: var(--keper-font-reader);
  line-height: 1.4;
  background-color: var(--keper-color-dark-gray);
  color: var(--keper-color-white);
}

/**
  Layout
 */
.keper-no-padding {
  padding: 0!important;
}

.keper-padding-body {
  padding: var(--keper-padding-body);
}

.keper-align-center {
  align-self: center;
}

.keper-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.keper-empty-list {
  margin: 0 auto;
  padding: var(--keper-padding-body);

  .keper-empty-list-message {
    display: block;
    color: var(--keper-color-white);
    padding-bottom: var(--keper-padding-xsmall);
  }
}

.keper-section-title {
  font-size: var(--keper-font-medium);
  font-weight: bold;
  margin-bottom: var(--keper-padding-xsmall);
}

.keper-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--keper-padding-small);
}

/**
  Views
 */
.keper-app {
  display: grid;
  grid-template-rows: auto 100px;
  height: 100vh;
  width: 100vw;

  .keper-app-view {
    background-color: var(--keper-color-black);
    border-radius: 0 0 var(--keper-border-radius-large) var(--keper-border-radius-large);
    max-height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: auto;
  }

  .keper-app-footer {

  }
}

/**
  Forms
 */

.keper-form {
  display: grid;
  gap: var(--keper-padding-body);
  padding: var(--keper-padding-body);
}

.keper-field {
  position: relative;
  display: grid;
  gap: 6px;
  padding: var(--keper-padding-input);
  background-color: var(--keper-color-black);
  grid-template-rows: 14px 30px;
  border-radius: var(--keper-border-radius-normal);
  cursor: pointer;

  label {
    color: var(--keper-color-white);
  }

  input {
    @include keper-mixin-clean-button();
    color: var(--keper-color-white);
    font-weight: bold;
    font-size: var(--keper-font-medium);
    width: 100%;

    &::placeholder {
      font-weight: normal;
    }
  }

  .keper-field-icon {
    position: absolute;
    top: 2.2em;
    right: 1.25em;

    svg {
      fill: var(--keper-color-white);
      width: 2em;
      height: 2em;
    }
  }

  .keper-field-errors {
    color: var(--keper-color-error);
    div {
      display: inline-block;
    }
  }

  &.keper-field-checkbox {
    grid-template-rows: 14px auto;

    &.keper-field-box-day {
      grid-template-columns: repeat(7, 1fr);

      label:first-child {
        grid-column: 1 / 8;
      }
    }

    &.keper-field-box-user {
      grid-template-columns: repeat(2, 1fr);

      label:first-child {
        grid-column: 1 / 3;
      }
    }

    .keper-field-box-container {
      input {
        display: none;
      }

      .keper-field-box {
        @include keper-mixin-transition(0.4s);
        border-radius: var(--keper-border-radius-medium);
        display: grid;
        cursor: pointer;
        height: var(--keper-padding-large);
        background-color: rgba(0,0,0,0);

        span {
          align-self: center;
          text-align: center;
          font-weight: bold;
        }
      }

      input:checked ~ .keper-field-box {
        background-color: var(--keper-color-primary);
        color: var(--keper-color-black);
      }
    }
  }

  &.keper-field-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
