@import "../../../../theme/variables.scss";

.keper-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  padding: var(--keper-padding-body);

  .keper-weekdays-day {
    @include keper-mixin-transition(0.4s);
    display: grid;
    grid-template-rows: min-content auto;
    gap: 3px;
    padding: 8px 3px;
    color: var(--keper-color-light-gray);
    font-weight: bold;
    text-align: center;
    border-radius: var(--keper-border-radius-normal);
    cursor: pointer;
    background-color: rgba(0,0,0,0);

    div {
      line-height: 1;
    }

    div:first-child {
      text-transform: capitalize;
      font-size: 0.7rem;
    }

    &.keper-selected {
      color: var(--keper-color-black);
      background-color: var(--keper-color-primary);
      cursor: default;
      pointer-events: none;
    }
  }
}
