<app-tabs>
  <app-header
    [showProfileBtn]="true"
    [title]="'SETTING.TITLE'"></app-header>

  <!-- Tasks -->
  <div class="keper-padding-body" *ngIf="tasks">
    <div class="keper-section-title">
      {{ 'TASKS.TITLE' | translate }}
    </div>
    <div class="keper-grid-2">
      <app-item-card
        *ngFor="let task of tasks"
        [title]="task.name"
        [fullSchedule]="{ days: task.days, time: task.schedule }"
        [isSmall]="true"
        [hasOpts]="true"
        (optionsEvent)="onTaskOptsEvent(task)">
      </app-item-card>
      <app-item-card
        [title]="'TASKS.NEW'"
        [isSmall]="true"
        [isAddButton]="true"
        (optionsEvent)="onTaskFormEvent()">
      </app-item-card>
    </div>
  </div>

  <!-- Users -->
  <div class="keper-padding-body" *ngIf="userId && users">
    <div class="keper-section-title">
      {{ 'USERS.TITLE' | translate }}
    </div>
    <div class="keper-grid-2">
      <app-item-card
        *ngFor="let user of users"
        [title]="user.name + (user.id === userId ? (' (' + ('USERS.YOU' | translate) + ')') : '')"
        [isSmall]="true"
        [hasOpts]="true"
        (optionsEvent)="onUserOptsEvent(user)">
      </app-item-card>
      <app-item-card
        [title]="'USERS.NEW'"
        [isSmall]="true"
        [isAddButton]="true"
        (optionsEvent)="onUserFormEvent()">
      </app-item-card>
    </div>
  </div>
</app-tabs>

<!-- modals -->
<app-task-form [task]="selectedTask"></app-task-form>
<app-task-options [task]="selectedTask" (clickDeleteTask)="onDeleteTaskEvent($event)" (clickEditTask)="onTaskFormEvent($event)"></app-task-options>
<app-user-form></app-user-form>
<app-user-options [user]="selectedUser" (clickRemoveUser)="onRemoveUserEvent($event)"></app-user-options>
