@import "../../../../theme/variables.scss";

.keper-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.6);
}

.keper-modal {
  @include keper-mixin-transition();
  @include keper-mixin-soft-shadow();
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0 var(--keper-padding-body);
  background-color: var(--keper-color-dark-gray);
  border-radius: var(--keper-border-radius-large) var(--keper-border-radius-large) 0 0;
  height: 0;

  &.keper-show-modal {
    height: calc(100vh - var(--keper-padding-body));
    padding: var(--keper-padding-body);
  }

  &.keper-small-modal.keper-show-modal {
    height: 280px;
  }

  .keper-modal-header {
    display: grid;
    grid-template-columns: min-content auto min-content;
    gap: var(--keper-padding-small);
    margin-bottom: var(--keper-padding-xsmall);

    .keper-modal-header-button {
      align-self: center;
      color: var(--keper-color-secondary);
      cursor: pointer;
    }
  }

  .keper-modal-content {
    .keper-modal-title {
      align-self: center;
      line-height: 1.4;
      color: var(--keper-color-white);
      font-size: var(--keper-font-large);
      font-weight: bold;
      margin-bottom: var(--keper-padding-small);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }

    .keper-modal-subtitle {
      line-height: 1.3;
      color: var(--keper-color-white);
      font-size: var(--keper-font-reader);
      margin-bottom: var(--keper-padding-small);
    }
  }
}

