@import "../../../../theme/variables.scss";

// GENERAL

.keper-button {
  @include keper-mixin-clean-button();
  width: 100%;
  display: block;
  text-align: center;
  font-size: var(--keper-font-normal);
  padding: var(--keper-padding-button);
}

// PADDING

.keper-button-LINK {
  padding: 0;
}

// MARGIN

.keper-margin-bottom {
  margin-bottom: var(--keper-padding-body);
}

// COLOR

.keper-button-BUTTON_DARK {
  color: var(--keper-color-white);
}

.keper-button-BUTTON_DANGER {
  color: var(--keper-color-error);
}

.keper-button-LINK,
.keper-button-BUTTON_SIMPLE {
  color: var(--keper-color-secondary);
}

.keper-button-BUTTON_PRIMARY,
.keper-button-BUTTON_SECONDARY {
  color: var(--keper-color-black);
}

// RADIUS

.keper-button-BUTTON_PRIMARY,
.keper-button-BUTTON_SECONDARY,
.keper-button-BUTTON_SIMPLE,
.keper-button-BUTTON_DARK,
.keper-button-BUTTON_DANGER {
  border-radius: var(--keper-border-radius-normal);
}

// BACKGROUND

.keper-button-BUTTON_PRIMARY {
  background-color: var(--keper-color-primary);
}

.keper-button-BUTTON_SECONDARY {
  background-color: var(--keper-color-secondary);
}

.keper-button-BUTTON_DARK,
.keper-button-BUTTON_DANGER {
  background-color: var(--keper-color-black);
}
